html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: #d1d8e5;
}

h1 {
  font-size: 1.375rem;
  color: rgb(55, 53, 47);
  font-weight: 700;
  line-height: 50px;
}
